body {
    background: rgb(2, 0, 36);
    background: linear-gradient(to left, rgba(220, 20, 20, 0.8), rgba(105, 105, 105, 0.8));
    padding-right: 15%;
    padding-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}

.cont {
    background-color: white;
    margin: 0;
    padding: 20px; /* Aggiungi un po' di padding per migliorare l'aspetto */;
}