body {
    background: rgb(2, 0, 36);
    background: linear-gradient(to left, rgba(160, 0, 0, 0.7), rgba(0, 0, 156, 0.7));
    padding-right: 15%;
    padding-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}

.cont {
    background-color: white;
    margin: 0;
    padding: 20px; /* Aggiungi un po' di padding per migliorare l'aspetto */;
}